.topnav {
    grid-row: 1;

    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 85px calc(100vw - 160px) 75px;
}

.topnav--logged-in{
    grid-row: 1;

    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 85px calc(100vw - 230px) 70px 75px;
}

.topnav__create {
    grid-row: 1;
    grid-column: 3;
    font-size: 12px;
    padding-top: 7.1px;
}